html, body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.global-wrapper {
  background: red;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%; }
  .global-wrapper section {
    height: calc(100%/3); }
    .global-wrapper section#header {
      background: black; }
    .global-wrapper section#body {
      background: green; }
    .global-wrapper section#footer {
      background: blue; }
