* {}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-wrapper {
    background: red;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;

    section {
        height: calc(100%/3);

        &#header {
            background: black;
        }

        &#body {
            background: green;
        }

        &#footer {
            background: blue;
        }
    }
}
